* {
    font-family: monospace;
}

body {
    background-color: grey;
}

a {
    color: black;
}

#title {
    text-align: center;
    margin-top: 20px;
}

#calculator_container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#calculator {
    border: 8px solid rgb(53, 53, 53);
    box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.6);   
    border-radius: 10px;    
    background-color: rgb(34, 34, 34);
}

#buttons_grid {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(0, 0, 0);
    /* border-radius: 10px; */  
    gap: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin: auto;
}

#display {
    height: 80px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: baseline;
    font-size: 40px;
    /* border-radius: 10px; */  
}

.top_buttons {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: darkgray;
    border-radius: 50px;
    color: black;
}

.top_buttons:hover {
    background-color: rgb(129, 129, 129);
    cursor: pointer;
}

.right_buttons {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 160, 8);
    border-radius: 50px;
    color: white;
}

.right_buttons:hover {
    background-color: rgb(184, 120, 18);
    cursor: pointer;
}

.number_buttons {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: rgb(59, 59, 59);
    border-radius: 50px;
    color: white;
}

.number_buttons:hover {
    background-color: rgb(92, 92, 92);
    cursor: pointer;
}

#button_0 {
    display: flex;
    width: 110px;
    height: 50px;
    grid-column: span 2;
}

.buttons_content {
    margin: auto;
}

.display_content {
    margin-top: 40px;
}

#footer {
    font-size: 10px;
    text-align: center;
}